<div>
  <div class="jumbotron heading" >
    <h3>Questionnaire</h3>
  </div>
<div class="row">

  <div class="col-md-4 ">
    <a class="btn btn-primary btn-xl rotate" [routerLink]="['question2']"><h5 class="lang">I am frontend Developer</h5></a>
  </div>

  <div class="col-md-4 ">
    <a class="btn btn-primary btn-xl rotate" [routerLink]="['question2']"><h5 class="lang">I am backend Developer</h5></a>
  </div>

  <div class="col-md-4 ">
    <a class="btn btn-xl btn-primary rotate" [routerLink]="['question2']"><h5 class="lang">I am fullstack Developer</h5></a>
  </div>

</div>
</div>




