<div >
  <div class="container" >
  <button  class="btn btn-primary btn-arrow-left" *ngIf="currentQuestion>0" (click)="prevQuestion()">Previous</button>
  <button  class="btn btn-success btn-arrow-right" style="float: right" (click)="nextQuestion()">  Next  </button>
  </div>
<div class="container">
    <app-questionv2 class="question" [questionContent]="question1" *ngIf="currentQuestion % 5==0" ></app-questionv2>
    <app-questionv2 class="question" [questionContent]="question2" *ngIf="currentQuestion % 5==1"></app-questionv2>
    <app-questionv2 class="question" [questionContent]="question3"*ngIf="currentQuestion % 5==2"></app-questionv2>
    <app-questionv2 class="question" [questionContent]="question4" *ngIf="currentQuestion % 5==3"></app-questionv2>
    <app-questionv2 class="question" [questionContent]="question5" *ngIf="currentQuestion % 5==4"></app-questionv2>
</div>
</div>
