<div class="col-sm-3" >
  <div class="row">
    <div class="col-sm-6" >
      user story
    </div>
    <div class="col-sm-6" >
      <div class="row">
        <div class="col-sm-6">
          Front-end
        </div>
        <div class="col-sm-6">
          <div class="row">
          CSS
          </div>
          <div class="row">
          javascript
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="col-sm-9">

  <div class="row">
    <div class="col-sm-3">

      <app-colom [colomValues]="listBoxers"></app-colom>
    </div>
    <div class="col-sm-3">
      <app-colom [colomValues]="listTeamOne"></app-colom>
    </div>
    <div class="col-sm-3">
      <app-colom [colomValues]="listTeamTwo"></app-colom>
    </div>
    <div class="col-sm-3">
      <app-colom [colomValues]="listTeamTwo"></app-colom>
    </div>

  </div>


</div>
