/* You can add global styles to this file, and also import other style files */


html {
  max-width: 1600px;
  display: table;
  margin: auto;
}
body
{
  display: table-cell;
  vertical-align: middle;
}
.appbox
{
 width: 280px
}
.question
{
  align-content: center;
}
td
{
  width: 10%;
  table-layout:fixed;
}

